[Unit]
Description=Send Withings repots to Saga athletes

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/withings-reports
Environment=MYSQL_USER="***"
Environment=MYSQL_PASSWORD="***"
Environment=WC_LOGIN="***"
Environment=WC_PASSWORD="***"
Environment=LINE_LOGIN="***"
Environment=LINE_PASSWORD="***"
ExecStart=/usr/local/bin/bb -m withings-reports.reports
StandardOutput=append:/home/ubuntu/withings-reports/log/reports.log
StandardError=append:/home/ubuntu/withings-reports/log/reports.log
User=ubuntu

[Install]
WantedBy=multi-user.target
